.formBox{
    display: block;
    text-align: center;
    padding: 1%;
}

.textField{
    background-color: white;
    width: 50% !important;
}

.buttonBox{
    display: block;
    text-align: center;
}

.paginator{
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.mario{
    height: 450px;
    margin-bottom: 1px;
    margin-left: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
}


.bulletBills {
    position: absolute;
    width: 120px;
    height: 70px;
    display: flex;
    z-index: -1;
}

.bulletBills:before {
    width: 70px;
    height: 50px;
    left: -20px;
    top: 15px;
}
.bulletBills:after {
    width: 65px;
    height: 45px;
    left: 70px;
    top: 10px;
}

.bulletBillOne {
    top: 25%;
    animation: bulletBillOne 20s linear infinite;
}

.bulletBillTwo {
    top: 55%;
    animation: bulletBillTwo 10s linear infinite;
}

@keyframes bulletBillOne {

    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: -10%;
    }
}

@keyframes bulletBillTwo {

    0% {
        margin-left: 130%;
    }

    100% {
        margin-left: -10%;
    }
}